<h1>Корзина</h1>

{{#if card.courses.length}}
  <table class="table" id="table">
    <thead class="thead-primary">
      <th scope="col">id</th>
      <th scope="col">Количество</th>
      <th scope="col">Действие</th>
    </thead>
    <tbody id="row">
    {{#each card.courses}}
      <tr>
        <td><a href="/courses/{{id}}">Товар</a></td>
        <td>{{count}}</td>
        <td><button data-id="{{id}}" class="btn btn-primary btn-remove">Удалить</button></td>
      </tr>
    {{/each}}
    </tbody>
    <tr class="thead-dark">
      <th colspan="2">Итого:</th>
      <th scope="col" id="price">{{card.price}}</th>
    </tr>
  </table>
{{else}}
  Пусто
{{/if}}