<h1>Корзина</h1>
{{#if card.length}}
  <table class="table" id="table">
    <thead class="thead-primary">
      <th scope="col">id</th>
      <th scope="col">Количество</th>
      <th scope="col">Действие</th>
    </thead>
    <tbody id="row">
    {{#each card}}
      <tr>
      <td><a href="/courses/{{id}}">{{title}}</a></td>
        <td>{{count}}</td>
        <td><button data-id="{{id}}" class="btn btn-primary btn-remove">Удалить</button></td>
      </tr>
    {{/each}}
    </tbody>
    <tr class="thead-dark">
      <th colspan="2">Итого:</th>
      <th scope="col" id="price">{{price}}</th>
    </tr>
  </table>
{{else}}
  Пусто
{{/if}}